<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8" />
	<title>ログイン | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-md-8 mx-auto main text-center ">
				<div class="page-header">
					<h1><i class="fas fa-check-circle fa-2x my-skyblue"></i></h1>
					<h5>ログイン</h5>
				</div>

			    <th:block th:if="${success}">
					<p class="text-info" th:text="${success}"></p>
				</th:block>
				<th:block th:if="${error}">
					<p class="text-danger" th:text="${error}"></p>
				</th:block>

				<th:block th:if="${authenticationException}">
					<p class="text-danger" th:text="${authenticationException.message}"></p>
				</th:block>

				<form th:action="@{/login}" th:method="post" class="submit-form">
					<div class="card text-center shadow">
						<div class="card-body px-5 py-4">

								<div class="input-group mb-3 sign-card" >
									<input type="text" placeholder="ログインID" class="form-control" id="loginId" name="loginId" th:value="${loginId}">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-user"></i>
										</span>
									</div>
								</div>
								<div class="input-group mb-3 sign-card">
									<input type="password" placeholder="パスワード" class="form-control" id="password" name="password"/>
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-lock"></i>
										</span>
									</div>
								</div>
								<div class="form-check">
									<input type="checkbox" name="isOmisshionLogin" class="form-check-input" id="login-check">
									<label class="font-mini form-check-label" for="login-check">
										次回以降このデバイスからのログインを省略(７日間)
									</label>
								</div>
								<button class="btn btn-primary mt-3" type="submit">ログイン</button>
							</div>
					</div>
				</form>
				<br />
				<p><a th:href="@{/signup}">アカウント新規登録はこちら</a>	</p>
				<p><a th:href="@{/forgotpass}">パスワードを忘れた方</a></p>
			</div>
		</div>
	</div>
</body>
</html>