<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"></meta>
    <title>今日の問題 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
   		<div class="row">
       		<div class="col-lg-5 col-md-8 col-sm-offset-3 mx-auto">
				<div class="page-header">
					<h1>今日の学習</h1>
				</div>
				<div>
					<div>
						<div class="card mb-2 shadow" id="review-question-card">
							<div class="card-header">
								<p class="card-title text-center mb-0">問題</p>
							</div>
							<div class="card-body p-3">
								<pre id="question" th:text="${question.question}"></pre>
							</div>

						</div>
						<form th:action="@{/reviews/question}" th:method="post">
							<div class="d-flex justify-content-between mt-3" id="answer-button">
								<input type="submit" name="score" value="分からなかった" class="btn btn-danger">
								<input type="submit" name="score" value="難しい" class="btn btn-warning text-white">
								<input type="submit" name="score" value="普通" class="btn btn-success">
								<input type="submit" name="score" value="余裕" class="btn btn-primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var questionForm = /*[[${questionForm}]]*/
			marked.setOptions({
					langPrefix: "hljs language-",
			    highlight: function(code, lang) {
			      return hljs.highlightAuto(code, [lang]).value
			    }
			  });
			document.getElementById('question').innerHTML =	marked(document.getElementById('question').innerHTML);
			document.getElementById('answer').innerHTML =	marked(document.getElementById('answer').innerHTML);
		/*]]>*/
	</script>
</body>
</html>
