<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8"></meta>
    <title>今日の問題 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
      <div class="col-lg-4 col-md-8 col-sm-offset-3 mx-auto">
				<div class="page-header">
					<h1>今日の問題</h1>
				</div>
				<th:block th:if="${error}">
					<p class="text-danger" th:text="${error}"></p>
				</th:block>

				<div class="mb-3">
					<a th:href="@{/questions/new}" class="pull-right">新しい問題を作成する</a>
				</div>
				<div class="card border-secondary mb-3 pt-3 mt-2 shadow">
					<div class="card-img-top text-center my-gray"><i class="fas fa-laptop-code fa-7x"></i></div>

					<div class="card-body">
						<th:block th:if="${nextQuestionId} == 0">
							<div class="text-secondary">
								<p class="text-center my-small">本日学習する項目はありません。</p>
							</div>
						</th:block>
						<div class="d-flex justify-content-between">
							<div id="card-new" class="card-item">
								<p class="p-1">新たに学習</p>
								<p class="font-weight-bold my-black font-bg" th:text="${newQuestionCount}"></p>
							</div>
							<div id="card-remind" class="card-item">
								<p class="p-1">復習</p>
								<p class="font-weight-bold my-black font-bg" th:text="${reviewQuestionCount}"></p>
							</div>
						</div>
							<div th:if="${nextQuestionId} != 0" >
								<a class="btn btn-outline-primary mx-auto d-block mt-2" th:href="@{/reviews/question}" role="button">
									<i class="fas fa-check"></i> 問題を受ける
								</a>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</body>
</html>
