<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8">
	<title>全問題一覧表示</title>
</head>
<body>
	<div class="container-fluid" id="app">
		<div class="row">
			<div class="col-lg-7 col-md-11 mx-auto main">
				<div class="question-page">
					<div class="page-header">
						<h1>全問題一覧表示</h1>
					</div>

					<div class="w-100" id="category-search-wrapper">
						<button type="button" class="btn btn-outline-success float-right" id="search-btn">
							<i class="fas fa-search"></i> 問題検索
						</button>

						<div class="collapse border p-3 float-right" id="category-search-box">
							<form th:action="@{/admin/questions}" th:method="get" th:object="${searchForm}" class="form-inline">
								<input type="text" th:field="*{searchWord}" class="mr-1" placeholder="問題文検索">
								<th:block th:each="category : *{categoryMap}" class="flexbox-contents">
									<div class="form-check mr-2">
										<input type="checkbox" class="mr-1" th:value="${category.key}" th:field="*{selectedCategoryNums}">
										<label th:for="${#ids.prev('selectedCategoryNums')}" th:text="${category.value}">
										</label>
									</div>
								</th:block>
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="category-search-btn">
									検索
								</button>
							</form>
						</div>
					</div>

					<br />

					<div th:each="qrcForm, status : ${qrcFormList}" >
						<div class="card border-secondary mb-3 shadow" id="question-card">
							<div class="card-header text-center">問題</div>
							<div class="card-body markdown-body">
								<pre th:id="question__${status.index}__" th:text="${qrcForm.question.question}"></pre>
								<button type="button" class="btn btn-sm btn-outline-info float-right d-none d-sm-block" th:id="toggle + ${status.index}"
										v-on:click="clickHandler($event)">
									回答
								</button>
								<button class="js-modal-open btn btn-sm btn-outline-info float-right d-block d-sm-none" href="" th:attr="data-target='js-modal__${status.index}__'">回答</button>
								<div class="w-100 border p-3 float-right"
									th:attr="v-show='toggles.toggle__${status.index}__'">
									<pre th:id="answer__${status.index}__" th:text="${qrcForm.question.answer}"></pre>
								</div>
							</div>
							<div class="modal js-modal" th:attr="id='js-modal__${status.index}__'" role="dialog">
								<div class="modal__bg js-modal-close"></div>
								<div class="modal-dialog modal-dialog-scrollable modal-lg">
									<div class="modal__content modal-content">
										<div class="modal-header">
											<span class="modal-title mx-auto">
												<span class="font-medium">回答</span>
											</span>
											<a class="js-modal-close" href="">&times;</a>
										</div>
										<div class="modal-body">
											<pre th:id="answer__${status.index}__" th:text="${qrcForm.question.answer}"></pre>
										</div>
										<div class="modal-footer">
											<a class="js-modal-close btn btn-outline-secondary btn-sm" href="">Close</a>
										</div>
									</div>
								</div>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div class="font-small">
										<span>カテゴリ：</span>
										<th:block th:each="categoryNum : ${qrcForm.categoryNumList}">
											<th:block th:each="category : ${categories}">
												<th:block th:if="${categoryNum == category.id}">
													<span th:text="${category.name}"></span>
												</th:block>
											</th:block>
										</th:block>
									</div>
								</li>
								<li class="list-group-item">
									<th:block th:if="${qrcForm.review.nextLearnDate}">
										<div class="font-small"
											th:text="|次回復習日程：${#dates.format(qrcForm.review.nextLearnDate, 'yyyy/MM/dd')}|"></div>
									</th:block>
									<th:block th:unless="${qrcForm.review.nextLearnDate}">
										<div class="font-small"
											th:text="|次回復習日程：${#dates.format(#dates.createNow(), 'YYYY/MM/dd')}|"></div>
									</th:block>
								</li>
								<li class="list-group-item">
									<div class="font-small"
										th:text="|作成日時：${#dates.format(qrcForm.question.createdDate, 'yyyy/MM/dd')}|"></div>
								</li>
							</ul>
							<div class="card-footer  bg-transparent">
								<div class="d-flex justify-content-between">
									<div>
										<i class="fas fa-user-edit my-blue my-big"></i>
										<th:block th:text="${qrcForm.review.repetitions}"></th:block>回目
									</div>
									<div>
										<i class="fas fa-bell my-yellow my-big"></i>
										<th:block th:text="${qrcForm.question.isLearned.getString()}"></th:block>
									</div>
									<div>
										<a th:href="@{/admin/questions/{questionId}/edit(questionId=${qrcForm.question.id})}" class="pull-right" title="編集">
											<i class="fas fa-edit my-big my-gray"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div th:fragment='paginationbar' class="paginationbar">
						<ul class="pagination justify-content-center">
							<li th:class="${page.first} ? 'disabled':''"
								style="display: inline" class="page-item">
								<span th:if="${page.first}" class="page-link text-secondary">←先頭</span>
								<th:block th:if='${selectedCategoryNumsParam}'>
									<a th:if="${not page.first}"
										th:href="@{/admin/questions?page=0__${selectedCategoryNumsParam}__}"
										class="page-link">←先頭</a>
								</th:block>
								<th:block th:unless='${selectedCategoryNumsParam}'>
									<a th:if="${not page.first}" th:href="@{/admin/questions?page=0}"
										class="page-link">←先頭</a>
								</th:block>
							</li>

							<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
								th:class="(${i}==${page.number}) ? 'active' : ''"
								style="display: inline" class="page-item">
									<span
									th:if='${i}==${page.number}' th:text='${i+1}'
									class="page-link text-secondary">1</span>
									<th:block th:if='${page.totalElements} != 0'>
										<th:block th:if='${selectedCategoryNumsParam}'>
											<a th:if='${i}!=${page.number}'
												th:href="@{/admin/questions?page=__${i}____${selectedCategoryNumsParam}__}">
												<span th:text='${i + 1}' class="page-link">1</span>
											</a>
										</th:block>
										<th:block th:unless='${selectedCategoryNumsParam}'>
											<a th:if='${i}!=${page.number}' th:href="@{${url}(page = ${i})}">
												<span th:text='${i + 1}' class="page-link">1</span>
											</a>
										</th:block>
									</th:block>
								</li>

								<li th:class="${page.last} ? 'disabled':''" style="display: inline"
									class="page-item">
									<span th:if="${page.last}" class="page-link text-secondary">末尾→</span>
									<th:block th:if='${selectedCategoryNumsParam}'>
										<a th:if="${not page.last}"
											th:href="@{/admin/questions?page=__${page.totalPages}-1____${selectedCategoryNumsParam}__}"
											class="page-link">末尾→</a>
									</th:block>
									<th:block th:unless='${selectedCategoryNumsParam}'>
										<a th:if="${not page.last}"
											th:href="@{/admin/questions?page=__${page.totalPages}-1}"
											class="page-link">末尾→</a>
									</th:block>
								</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var qrcFormListCount = /*[[${qrcFormList.size()}]]*/
		/*]]>*/

		marked.setOptions({
		    langPrefix: '',
		    highlight: function(code, lang) {
		      return hljs.highlightAuto(code, [lang]).value
		    }
		  });

		for (let i = 0; i < this.qrcFormListCount; i++) {
			document.getElementById('question' + i).innerHTML =	marked(document.getElementById('question' + i).innerHTML);
			document.getElementById('answer' + i).innerHTML =	marked(document.getElementById('answer' + i).innerHTML);
 		}

		var vm = new Vue({
			el : "#app",
			data : {
				toggles : [],
			},
			methods : {
				clickHandler: function(event){
					var toggleId = event.path[0].id;
					if(this.toggles[toggleId]){
						this.toggles[toggleId] = false;
					}else{
						this.toggles[toggleId] = true;
					}
				}
			}
		});

		var key = '';
		for(let i = 0; i < this.qrcFormListCount; i++){
			this.key = `toggle${i}`;
			Vue.set(vm.toggles, this.key, false);
		}

	</script>
</body>
</html>