<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="footer" th:remove="tag">
	<footer class="footer">
		<div class="container-fluid text-center" id="footer-contents">
			<span class="mr-3">&copy; 2020 CodeReminder</span>
			<a th:href="@{/terms}">利用規約</a>
			<span>/</span>
			<a th:href="@{/privacy}">プライバシーポリシー</a>
		</div>
		<th:block  sec:authorize="isAuthenticated()">
		<div id="floatingmenu" class="d-block d-sm-none">
			<ul class="nav justify-content-around" role="presentation" sec:authorize="isAuthenticated()" id="footer-nav">
				<li class="my-auto">
					<a class="footer-nav-link" th:href="@{/}"><i class="fas fa-home fa-4x mb-2"></i><br>ホーム</a>
				</li>
				<li class="my-auto">
					<a class="footer-nav-link" th:href="@{/questions}"><i class="fas fa-folder fa-4x mb-2"></i><br>問題</a>
				</li>
				<li class="my-auto">
					<a class="footer-nav-link" th:href="@{/timeline}"><i class="fas fa-stream fa-4x mb-2"></i><br>タイムライン</a>
				</li>
				<li class="my-auto">
					<a class="footer-nav-link" th:href="@{/categories}"><i class="fas fa-list-ul fa-4x mb-2"></i><br>カテゴリー</a>
				</li>
				<li class="my-auto">
					<a class="footer-nav-link" th:href="@{/accounts/mypage}"><i class="fas fa-user fa-4x mb-2"></i><br>マイページ</a>
				</li>
			</ul>
		</div>
		</th:block>
	</footer>
</div>
</html>