<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header" th:remove="tag">
	<div class="container-fluid" id="site-header">
		<nav class="navbar shadow-sm" id="headerNav">
			<a class="navbar-brand" th:href="@{/}" id="header-title">CodeReminder</a>
			<th:block  sec:authorize="isAuthenticated()">
				<div class="d-block d-sm-none">
					<a class=" my-gray my-big mr-2" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a>
					<th:block role="presentation" sec:authorize="hasRole('ADMIN')">
						<a class="d-lg-none my-gray my-big" th:unless="@{__${#httpServletRequest.requestURI}__ }==@{/admin/accounts}" th:href="@{/admin/accounts}"><i class="fas fa-users mr-2"></i></a>
						<a class="d-lg-none my-gray my-big" th:unless="@{__${#httpServletRequest.requestURI}__ }==@{/admin/questions}" th:href="@{/admin/questions}"><i class="fas fa-book-reader"></i></a>
					</th:block>
				</div>
			</th:block>

			<div id="header-menu" class="d-none d-sm-block">
				<ul class="nav ml-auto justify-content-end" role="presentation" sec:authorize="isAuthenticated()" id="navbar-nav">
					<li class="nav-item">
							<a class="nav-link current" th:href="@{/}">ホーム</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/questions}">問題一覧</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/timeline}">タイムライン</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">カテゴリ一覧</a>
					</li>

					<li class="nav-item d-none d-sm-block">
						<div class="dropdownk mr-2 ml-3">
							<button type="button" class="btn btn-light rounded-circle p-0" style="width:2.5rem;height:2.5rem;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-user-alt link-color font-bg"></i>
							</button>
							<div class="dropdown-menu dropdown-menu-right mr-3" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item nav-link" th:href="@{/accounts/mypage}">マイページ</a>
								<th:block role="presentation" sec:authorize="hasRole('ADMIN')">
									<a class="dropdown-item nav-link current" th:href="@{/admin/accounts}">アカウント一覧</a>
									<a class="dropdown-item nav-link current" th:href="@{/admin/questions}">全問題一覧</a>
								</th:block>
								<a class="dropdown-item nav-link" th:href="@{/logout}">ログアウト</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</nav>
	</div>
</div>
</html>