<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/highlightjs/styles/agate.css}" type="text/css">
    <link rel="icon" type="image/png"  th:href="@{/img/favicon.ico}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/img/apple-touch-icon.png}" sizes="180x180">

    <script th:src="@{/webjars/highlightjs/highlight.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/marked/marked.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/vue/vue.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/element-ui/lib/index.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/element-ui/lib/umd/locale/ja.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/sweetalert/docs/assets/sweetalert/sweetalert.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}" type="text/css" />

    <script th:src="@{/js/script.js}" defer></script>
	<title th:replace="${title}"></title>
</head>
<body>
    <div id="header" th:replace="~{layout/header :: header}"></div>
    <div id="body" th:replace="${body}"></div>
    <div id="footer" th:replace="~{layout/footer :: footer}"></div>
</body>
</html>