<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8"></meta>
    <title>問題編集 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-lg-11 col-md-12 mx-auto main">
				<div class="question-edit-page">
						<div class="page-header">
							<h1>問題編集</h1>
						</div>
						<form th:action = "@{/questions/__${qrcForm.question.id}__/edit}" th:method="post" th:object="${qrcForm}" class="h-100">
						<input type="hidden" th:field="*{question.accountId}">

							<!-- エラーメッセージをテーブル上部に表示 -->
							<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('question.question') || #fields.hasErrors('question.answer')}">
								<ul>
									<li class="text-danger" th:if="${#fields.hasErrors('question.question')}" th:errors="*{question.question}">questionerror</li>
									<li class="text-danger" th:if="${#fields.hasErrors('question.answer')}" th:errors="*{question.answer}">passworderror</li>
								</ul>
							</div>

							<table class="table table-bordered" id="insertQuestionForm">
								<tr>
									<th class="active">問題</th>
									<td class="textarea-wrap question-td">
										<div class="form-group" th:classappend="${#fields.hasErrors('question.question')}?'has-error'">
											<textarea rows="8" cols="30"  class="form-control" th:field="*{question.question}" th:classappend="${#fields.hasErrors('question.question')} ? 'is-invalid'" v-model="markdownText"></textarea>
											<input type="hidden" class="form-control" th:field="*{question.id}"/>
										</div>
									</td>
									<td  class="textarea-wrap question-td preview-td">
										<div class="preview">
											<pre v-html="compiledMarkdown"></pre>
										</div>
									</td>
								</tr>
								<tr>
									<th class="active">回答</th>
									<td class="textarea-wrap question-td">
										<div class="form-group" th:classappend="${#fields.hasErrors('question.answer')}?'has-error'">
											<textarea rows="8" cols="30" class="form-control" th:field="*{question.answer}" th:classappend="${#fields.hasErrors('question.answer')} ? 'is-invalid'" v-model="markdownTextAnswer"></textarea>
											<span class="text-danger" th:if="${#fields.hasErrors('question.answer')}" th:errors="*{question.answer}">passworderror</span>
										</div>
									</td>
									<td class="textarea-wrap question-td preview-td">
										<div class="preview">
											<pre v-html="compiledMarkdownAnswer"></pre>
										</div>
									</td>
								</tr>
								<tr>
									<th class="active">ステータス</th>
									<td colspan="2">
										<div class="form-group" th:classappend="${#fields.hasErrors('question.isLearned')}?'has-error'">
											<select th:field="*{question.isLearned}">
														<option th:each="status : ${completeStatus}" th:value="${status}" th:selected="${status == __*{question.isLearned}__}">[[${status.getString()}]]</option>
												</select>
										</div>
									</td>
								</tr>
								<tr>
									<th class="active">覚えたとする日程</th>
									<td colspan="2">
										<div class="form-group" th:classappend="${#fields.hasErrors('review.completeDay')}?'has-error'">
											<input type="hidden" class="form-control" th:field="*{review.id}"/>
											<select th:field="*{review.completeDay}">
												<option value="200" th:selected="${200 == __*{review.completeDay}__}">200</option>
												<option value="365" th:selected="${365 == __*{review.completeDay}__}">365</option>
												<option value="500" th:selected="${500 == __*{review.completeDay}__}">500</option>
												</select>日
										</div>
									</td>
								</tr>
								<tr class="last">
									<th class="active">カテゴリ</th>
									<td colspan="2">
										<div class="form-group" th:classappend="${#fields.hasErrors('categoryNumList')}?'has-error'">
											<th:block th:each="category : ${categoryFormList}" th:if="${categoryFormList}">
														<input type="checkbox" th:value="${category.key}" th:field="*{categoryNumList}"/>
												<label th:for="${#ids.prev('categoryNumList')}" th:text="${category.value}"></label>
											</th:block>
										</div>
									</td>
								</tr>
								<tr class="last">
								<th class="active">この問題を他のユーザーに公開しますか？</th>
									<td colspan="2">
										<div class="form-group" th:classappend="${#fields.hasErrors('question.isShared')}?'has-error'">
											<th:block th:each="item : ${isSharedRadio}" class="flexbox-contents" th:classappend="${#fields.hasErrors('question.isShared')}?'has-error'">
  												<input type="radio" th:value="${item.value}" th:field="*{question.isShared}"  th:classappend="${#fields.hasErrors('question.isShared')} ? 'is-invalid'" />
												<label class = "mr-2" th:for="${#ids.prev('question.isShared')}" th:text="${item.value.string}" ></label>
												<span class="text-danger" th:if="${#fields.hasErrors('question.isShared')}" th:errors="*{question.isShared">tokenerror</span>
											</th:block>
										</div>
									</td>
								</tr>
							</table>
							<button class="btn btn-primary float-right px-4" id="update" type="submit" name="update">更新</button>
							<button class="btn btn-danger float-left px-4" id="delete" type="button" name="delete">削除</button>
							<div class="float-right mt-3" id="remove-question"><a th:href="@{/questions}">問題一覧へ戻る</a></div>
						</form>
	    	</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var question = /*[[${qrcForm.question.question}]]*/;
			if(question == null){
				question = '';
			}
			var answer = /*[[${qrcForm.question.answer}]]*/;
			if(answer == null){
				answer = '';
			}
		/*]]>*/
		new Vue({
			el: '#insertQuestionForm',
			created: function() {
				marked.setOptions({
					langPrefix: "hljs language-",
					highlight: function(code, lang) {
						return hljs.highlightAuto(code, [lang]).value
					}
				});
    	},
			computed: {
				compiledMarkdown: function() {
					return marked(this.markdownText);
				},
				compiledMarkdownAnswer: function() {
					return marked(this.markdownTextAnswer);
				},
			},
			data: {
				markdownText: this.question,
				markdownTextAnswer: this.answer
			},
		})
	</script>
</body>
</html>