<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8"></meta>
    <title>パスワード再登録 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-lg-5 col-md-8 mx-auto main">
				<div class="page-header">
					<h1>パスワード再登録</h1>
				</div>

	        	<th:block th:if="${success}">
					<p class="text-info" th:text="${success}"></p>
				</th:block>
				<th:block th:if="${error}">
					<p class="text-danger" th:text="${error}"></p>
				</th:block>

				<form method="post" th:object="${forgotPassForm}" th:action="@{/forgotpass}">
					<table class="table table-bordered table-hover">
						<tr>
							<th class="active align-middle">メールアドレス</th>
							<td>
								<th:block class="form-group" th:classappend="${#fields.hasErrors('mail')}?'has-error'">
									<input type="text" class="form-control" th:field="*{mail}">
									<span class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
								</th:block>
							</td>
						</tr>
					</table>
					<div class="text-center">
						<button class="btn btn-primary mt-1" type="submit" name="requestMail">送信</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>