<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
    <title>CodeReminder</title>
</head>
<body>
	<div class="container-fluid h-100">
		<div class="row justify-content-center" th:if="${SPRING_SECURITY_403_EXCEPTION != null}">
	    	<div class="col">
	        	<div class="alert alert-danger" role="alert" >
	            	<h5 class="alert-heading">アクセス拒否</h5>
	            	<p class="mb-0" th:text="${SPRING_SECURITY_403_EXCEPTION.message}">message</p>
	        	</div>
	    	</div>
		</div>

		<div class="row" id="main-page-row">
			<div id="top-content">
				<div class="col-lg-11 col-md-12 mx-auto my-5 main">
					<div class="d-flex justify-content-center" id="home-main-content">
						<div id="left-contents" class="col-sm-5">
							<h1 class="my-black">CodeReminderとは？</h1>
							<pre class="mb-2 my-black font-bg">
CodeReminderとは、最適なタイミングで
復習することが出来るサービスです
<a th:href="@{/about}" class="font-small text-white">詳しい使い方は？</a>
							</pre>

							<div sec:authorize="isAuthenticated()==false">
								<a th:href="@{/signup}" class="btn btn-warning btn-sm mr-3 media-btn" role="button">会員登録する</a>
								<a th:href="@{/login}" class="btn btn-success btn-sm text-body media-btn" role="button">ログインする</a>
							</div>
							<div sec:authorize="isAuthenticated()">
								<a class="btn btn-success round-btn w-50" role="button" th:href="@{/reviews}">学習する</a>
							</div>
						</div>
						<img th:src="@{/img/top-icon.png}" class="d-none d-sm-block top-icon">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="main-bottom-content" class="col-sm-11 mx-auto">
				<div class="explanation-box py-auto">
					<i class="far fa-hand-point-right icon-bigsize my-gray pb-5" id="bottom-icon"></i>
				</div>
				<div class="explanation-box text-left">
					<h5 class="my-black"><i class="fas fa-caret-down my-yellow"></i> 復習日程を記録できる</h5>
					<pre class="fc-base">
適切な復習日程で復習することができ、
より知識の定着を高めることを目的とし
ます。
					</pre>
				</div>
				<div class="explanation-box text-left">
					<h5 class="my-black"><i class="fas fa-caret-down my-yellow"></i> プログラミング言語学習に特化</h5>
					<pre class="fc-base">
問題や回答はマークダウン記法で入力することが
でき、コードの部分も見やすくしています。

					</pre>
				</div>
				<div class="explanation-box text-left">
					<h5 class="my-black"><i class="fas fa-caret-down my-yellow"></i> みんなの作った問題を見る</h5>
					<pre class="fc-base">
自分が作った問題を公開したり、他の　
ユーザーが作成した問題も見ることがで
きます。
					</pre>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-11 mx-auto mb-3">
				<a th:href="@{/contact}" class="btn btn-danger btn-sm mr-3 float-right" role="button"><i class="far fa-envelope"></i> お問い合わせ</a>
			</div>
		</div>

	</div>
</body>
</html>