<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
    <title>LINE通知設定方法 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid h-100">
    <div class="row justify-content-center" th:if="${SPRING_SECURITY_403_EXCEPTION != null}">
      <div class="col">
        <div class="alert alert-danger" role="alert" >
          <h5 class="alert-heading">アクセス拒否</h5>
          <p class="mb-0" th:text="${SPRING_SECURITY_403_EXCEPTION.message}">message</p>
        </div>
      </div>
		</div>

		<div class="row">
      <div class="col-lg-6 col-md-9 mx-auto my-5 main">
        <div class="page-header">
          <h1>LINE通知設定方法</h1>
        </div>
        <section>
          <h3>LINEで友だち登録</h3>
          <p><a href ="https://notify-bot.line.me/ja/" target="_blank">LINE Notify公式ページ</a>にアクセスし、QRコードを読み取って友だち追加を行います。</p>
          <img th:src="@{/img/line-notify/notify-home.png}" class="my-5" width="100%">
        </section>
        <section>
          <h3>アクセストークンの発行</h3>
          <p>PCから<a href ="https://notify-bot.line.me/ja/" target="_blank">LINE Notify公式ページ</a>にアクセスしログイン後、サイト右上からマイページを開きます。</p>
          <p>※スマートフォンからアクセスした場合、アクセストークン発行ページが表示されないようです。</p>
          <img th:src="@{/img/line-notify/notify-login.png}" class="my-5" width="100%">
          <p>「トークンを発行する」をクリックします。</p>
          <img th:src="@{/img/line-notify/notify-mypage.png}" class="my-3" width="100%">
          <p>●「トークン名」には【CodeReminder】など分かりやすい名前を入力してください。</p>
          <p>●「通知を送信するトークルームを選択してください」ではトークルームを選択します。</p>
          <p>今回は一番上に表示される「1:1でLINE Notifyから通知を受け取る」を選択しました。</p>
          <p>入力と選択を終えたら、「発行する」ボタンを押して下さい。</p>
          <img th:src="@{/img/line-notify/notify-token.png}" class="mx-auto d-block my-5" width="60%">
        </section>
        <section>
          <h3>トークンを記録する</h3>
          <p>注意書きも出ていますが、一度発行されたトークンは再発行できないそうなので、メモ帳などに記録しておくと良いです。</p>
          <img th:src="@{/img/line-notify/notify-token2.png}" class="mx-auto d-block my-5" width="60%">
        </section>
        <section>
          <h3>マイページからトークンを登録する</h3>
          <p>CodeReminderの<a th:href="@{/accounts/mypage}">マイページ</a>にアクセスし、編集画面を開きます。</p>
          <p>先ほど発行したトークンを入力し、通知をオンにすると完了です。</p>
          <img th:src="@{/img/line-notify/edit-line.png}" class="mx-auto d-block my-5" width="60%">
        </section>
        <section>
          <h5>LINEの通知が届かないとき</h5>
          <p>通知は毎朝9時に届きます。届かないときは、トークンの確認または再登録を行ってください。</p>
        </section>
			</div>
		</div>
	</div>
</body>
</html>