<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8"></meta>
    <title>プライバシーポリシー | CodeReminder</title>
</head>
<body>
	<div class="container-fluid h-100">
		<div class="row justify-content-center" th:if="${SPRING_SECURITY_403_EXCEPTION != null}">
	    	<div class="col">
	        	<div class="alert alert-danger" role="alert" >
	            	<h5 class="alert-heading">アクセス拒否</h5>
	            	<p class="mb-0" th:text="${SPRING_SECURITY_403_EXCEPTION.message}">message</p>
	        	</div>
	    	</div>
		</div>

		<div class="row">
			<div class="col-sm-11 mx-auto my-5 main">
				<div class="page-header">
		            <h1>プライバシーポリシー</h1>
		            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">個人情報保護方針</font></font>
		            <p class="text-clearly">2020/08/04</p>
		        </div>
		        <div class="text-clearly">
		            <p>・<span class="font-weight-bold">CodeReminder</span>では、ユーザーから収集した個人情報およびユーザのコンテンツの保護に努めています。このプライバシーポリシーでは、個人情報の内容とその取得理由、およびそれらの運用方法について規定しています。</p>
		            <p>・このポリシーは、<span class="font-weight-bold">CodeReminder</span>のサービス利用規約の一部として組み込まれています。また、<span class="font-weight-bold">CodeReminder</span>のサービスを組織としてご利用いただく場合、組織の代表として本規約に同意するものとみなします。<br><br></p>
		            <section>
		                <h2>1. ポリシーの変更</h2>
		                <p>・<span class="font-weight-bold">CodeReminder</span>は、このポリシーを必要に応じて更新することができます。その際、<span class="font-weight-bold">CodeReminder</span>は可能な限り、事前あるいは直後に合理的な方法で通知を行います。また、ユーザーが <span class="font-weight-bold">CodeReminder</span>のサービスへアクセス、または利用した場合には、このポリシーに同意したことになります。</p>
		                <br/>
		            </section>
		            <section>
		                <h2>2. 個人情報の収集と利用</h2>
		                <section>
		                    <h3>a)アカウント情報</h3>
		                    <p>・アカウントを作成またはアカウント設定する際に、パスワード、メールアドレスを提供いただきます。これらの情報は、本人を識別し<span class="font-weight-bold">CodeReminder</span>のサービスを提供するために利用されます。</p>
		                </section>
		                <section>
          		            <br/>
		                    <h3>b)プロフィール情報</h3>
		                    <p>・アカウント設定にてユーザー名を登録することができます。ユーザー名は、ハンドルネームでもかまいません。これらの情報は、プロジェクトを共通し他のユーザーと共同作業を行う際、他のメンバーがあなたを識別できるよう表示されます。</p>
		                    <br/>
		                </section>
		            </section>

		            <section>
		                <h2>3. 情報のアクセスおよび開示</h2>
		                <section>
		                    <h3>a) 第三者への提供</h3>
		                    <p>・<span class="font-weight-bold">CodeReminder</span>では、以下の場合をのぞき、第3者に情報を開示・提供することはありません。</p>
		                    <ul>
		                        <li>情報を共有することへのユーザーの同意がある場合。</li>
		                        <li><span class="font-weight-bold">CodeReminder</span>が業務を委託する業者に対して開示する場合。</li>
		                        <li>ユーザーが作成したプロジェクトを共有する場合、共有したユーザーへプロフィールの一部が閲覧可能になります。</li>
		                        <li>法令の尊守のために、<span class="font-weight-bold">CodeReminder</span>が必要と判断した場合。</li>
		                    </ul>
		                </section>
		                <section>
		                    <h3>b) 統計データについて</h3>
		                    <p>・<span class="font-weight-bold">CodeReminder</span>では、サービス向上の目的で、ユーザーのみなさまから取得した個人情報をもとに個人を識別できないように加工した統計データを作成することがあります。
		                        これらの統計データの作成・利用につきましては、ユーザの承諾なく行うことができます。</p>
		                </section>
		                <section>
		                    <h3>c) 委託</h3>
		                    <p>・<span class="font-weight-bold">CodeReminder</span>は、<span class="font-weight-bold">CodeReminder</span>のサービスを提供する上で必要な業務の範囲内において、委託先の情報をこのプライバシーポリシーにて公表した上で、
		                        取得した個人情報の全部または一部を業務委託先に提供することができます。</p>
		                </section>
		            </section>
					<br/>
		            <section>
		                <h2>4. 情報の管理</h2>
		                <p>・<span class="font-weight-bold">CodeReminder</span>は、個人情報保護法に基づき個人情報等を厳重に管理し機密保持につとめます。</p>
		            </section>
					<br/>
		            <section>
		                <h2>5. 情報の削除</h2>
		                <p>・ユーザーは、<span class="font-weight-bold">CodeReminder</span>のWebサイト上にて自身に関連付けられた個人情報を更新あるいは削除することができます。アカウントが削除された場合、ユーザーに紐づけられたすべての個人情報が削除されます。</p>
		            </section>
   					<br/>
		            <section>
		                <h2>6. お問い合わせ先</h2>
		                <p>・プライバシーポリシーに関する質問・あるいは懸念などお問い合わせは、<span class="font-weight-bold">CodeReminder</span>開発チーム宛にメールにてお問い合わせください。<br>
		                    <br>xxxxxxx@info.co.jp</p>
		            </section>
		        </div>
			</div>
		</div>
	</div>
</body>
</html>