<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8"></meta>
    <title>利用規約 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid h-100">
		<div class="row justify-content-center" th:if="${SPRING_SECURITY_403_EXCEPTION != null}">
	    	<div class="col">
	        	<div class="alert alert-danger" role="alert" >
	            	<h5 class="alert-heading">アクセス拒否</h5>
	            	<p class="mb-0" th:text="${SPRING_SECURITY_403_EXCEPTION.message}">message</p>
	        	</div>
	    	</div>
		</div>

		<div class="row">
			<div class="col-sm-11 mx-auto my-5 main">
		       	<div class="page-header">
		            <h1>サービス利用規約</h1>
		            <p class="text-clearly">2020/08/04</p>
		        </div>
	            <section>
	                <p>
	                	<span class="font-weight-bold">CodeReminder</span>へようこそ。
	                	<span class="font-weight-bold">CodeReminder</span>を利用して頂くにあたり、皆様には以下のサービス利用規約を確認の上、同意していただく必要があります。
	                	ここには、<span class="font-weight-bold">CodeReminder</span>
	                	と皆様の関係をより良いものにするための大切な事が説明されていますので、サービスを利用される前に必ずお読みください。
	                </p>
	            </section>
	            <br/>
				<section>
	                <h2>1. 概要</h2>
					<p>・この利用規約は（以降利用規約、サービス利用規約と書きます）、ユーザー（以下、 皆様と書きます）と
						<span class="font-weight-bold">CodeReminder</span>との契約になります。
					</p>
					<p>・利用規約には、この利用規約に加え<a th:href="@{/privacy}">プライバシーポリシー</a>が含まれます。ユーザーが
						<span class="font-weight-bold">CodeReminder</span>
						のサービスへアクセス、または利用した場合には、本規約に拘束されることに同意したことになります。
					</p>
	            </section>
	            <br/>
				<section>
	                <h2>2. 規約の更新</h2>
	                <p>・この規約は、サービス内容の変更や法律の変更により、更新されます。その際、
		                <span class="font-weight-bold">CodeReminder</span>は可能な限り、事前あるいは直後に合理的な方法で通知を行います。
	                </p>
	                <p>・規約が変更された場合、皆様はその新しい条件を承諾されるか判断してください。規約変更後、
	                    サービスを引き続き利用されている場合は、変更後の規約に同意したものとして見なされます。
	               	</p>
	            </section>
	            <br/>
				<section>
				     <h2>3. プライバシー</h2>
				     <p>・アカウントの皆様が<span class="font-weight-bold">CodeReminder</span>へ投稿たすべての個人情報には、アカウントの情報をどう収集し使用するかを定めた、
					     <a th:href="@{/privacy}">プライバシーポリシー</a>が適用されます。こちらについては、<a th:href="@{/privacy}">プライバシーポリシー</a>をお読みください。
				     </p>
				 </section>
				 <br/>
				 <section>
				     <h2>4. アカウント</h2>
    				 <br/>
				     <section>
				         <h3>a) パスワード</h3>
				         <p>・皆様は、<span class="font-weight-bold">CodeReminder</span>にアクセスするときに使うパスワードを適切に管理しなければなりません。<span class="font-weight-bold">CodeReminder</span>は、これを遵守しないことに起因する損失や損害について、一切責任を負いません。</p>
				     </section>
				     <section>
				         <h3>b) メールアドレス</h3>
				         <p>・皆様は、<span class="font-weight-bold">CodeReminder</span>にアクセスするときに使うメールアドレスを適切に管理しなければなりません。<span class="font-weight-bold">CodeReminder</span>は、これを遵守しないことに起因する損失や損害について、一切責任を負いません。</p>
				     </section>
				     <section>
				         <h3>c) アカウントの共有</h3>
				         <p>・アカウントは、アカウントを特定するためのものですので、他人への貸し出しなどの行為は原則認められません。<span class="font-weight-bold">CodeReminder</span>は責任を負いません。</p>
				     </section>
				 </section>
				 <br/>
				 <section>
				     <h2>5. コンテンツと著作権</h2>
				     <section>
				         <p>・皆様が<span class="font-weight-bold">CodeReminder</span>へ投稿したデータの所有権は、皆様が保持しています。
					         <span class="font-weight-bold">CodeReminder</span>は、それらのデータを皆様よりお預かりし、機密情報として適切に管理すると共に、
					         インターネットを介してアクセスする機能を提供しています。ここでのアクセスとは、閲覧・編集での使用を指します。どのようなアクセス方法を提供するかは、
					         <span class="font-weight-bold">CodeReminder</span>が決定することができます。
				         </p>
				     </section>
				 </section>
				 <br/>
				 <section>
				     <h2>6. サービスの停止</h2>
				     <p>・<span class="font-weight-bold">CodeReminder</span>は、皆様の承諾なしに、サービスあるいはサービスの一部を停止することがあります。
				         その際、可能な限り事前に通知を行うようつとめますが、災害・突発的な事故・ハードウェアトラブルなどによって通知が困難である場合は、事後報告となる場合があります。</p>
				 </section>
				 <br/>
				 <section>
				     <h2>7. 利用の停止</h2>
				     <p>・皆様は、いつでもカウントを削除することで、サービスの利用を終了することができます。この場合、皆様が登録した個人情報については、プライバシーポリシーに従い処理されます。</p>
				     <p>・<span class="font-weight-bold">CodeReminder</span>は、<span class="font-weight-bold">CodeReminder</span>が不適切と判断した場合、理由を問わずアカウントのアカウントを停止または削除、あるいはサービスの一部の提供を停止することができます。</p>
				 </section>
				 <br/>
				 <section>
				     <h2>8. 現状ありのまま</h2>
				     <p>・<span class="font-weight-bold">CodeReminder</span>では、よりよいサービスを提供できるよう努めていますが、場合によってはそれを保証できない場合もあります。
					     <span class="font-weight-bold">CodeReminder</span>は、
					     <span class="font-weight-bold">CodeReminder</span>を使うことで、発生するかもしれないは、法律の範疇において、いかなる保証もしません。本サービスは現状ありのままです。
				     </p>
				 </section>
				 <br/>
				 <section>
				     <h2>9. ガイドライン</h2>
				     <p>・<span class="font-weight-bold">CodeReminder</span>では、以下の行為を禁止しています。</p>
				     <ul>
				         <li><strong>アカウントの大量作成 : </strong>同一アカウントによる、複数のアカウントを作成することを禁じます。</li>
				         <li><strong>招待スパム : </strong>繰り返し大量の招待メールを送ることを禁じます。</li>
				         <li><strong>第3者になります行為 : </strong></li>
				         <li><strong>システム負荷をかける行為 : </strong>
					         <span class="font-weight-bold">CodeReminder</span>
					         が提供する方法以外で、意図的にネットワーク・システムに過度な負荷をかける行為
				         </li>
				         <li><strong>公序良俗に反する行為 : </strong></li>
				     </ul>
				 </section>
			</div>
		</div>
	</div>
</body>
</html>