<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8" />
	<title>タイムライン | CodeReminder</title>
</head>
<body>
	<div class="container-fluid" id="app">
		<div class="row">
			<div class="col-lg-7 col-md-11 mx-auto main">
				<div class="question-page" id="question-page">
					<div class="page-header">
						<h1>みんなの問題</h1>
					</div>
					<div class="w-100">
						<a th:href="@{/questions/new}" class="pull-right">新しい問題を作成する</a>
					</div>

					 <div id="category-search-wrapper" class="d-flex flex-row-reverse bd-highlight mt-2 mb-2">
							<form th:action="@{/timeline}" th:method="get" th:object="${genericSearchForm}" class="form-inline">
								<th:block th:each="item : ${searchTypeRadio}" class="flexbox-contents">
									<th:block th:if="${genericSearchForm.searchType == null}">
										<input type="radio" th:checked="${item.value.int == 0}" th:value="${item.value}" name="searchType" th:id="${item.value}" class="mr-1" />
										<label class = "mr-1" th:for="${item.value}" th:text="${item.value.string}" ></label>
									</th:block>
									<th:block th:unless="${genericSearchForm.searchType == null}">
										<input type="radio" th:checked="${item.value.int == 1}" th:value="${item.value}" th:field="*{searchType}" class="mr-1" />
										<label class = "mr-1" th:for="${#ids.prev('searchType')}" th:text="${item.value.string}"></label>
									</th:block>
								</th:block>
								<input type="text" th:field="*{searchWord}" class="mr-1" id="search-input-area">
								<button class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit">
									<i class="fas fa-search"></i> 投稿検索
								</button>
							</form>
						</div>
					<br/>

					<div th:each="qacForm, status : ${qacFormList}">
						<div class="p-1 border border-top-0 border-right-0 border-left-0" id="timeline">
							<div class="mb-1">
								<span class="font-weight-bold font-medium mr-1" th:text="${qacForm.account.name}|"></span>
								<span class="font-small mr-1" th:text="${#dates.format(qacForm.question.updatedDate, 'M/dd HH:mm')}|"></span>
								<span class="text-sm-right text-info" >
									<th:block th:each="category : ${qacForm.categoryList}">
												<span th:text="${category}"></span>
									</th:block>
								</span>
							</div>
							<div class="markdown-body clearfix">
								<div id="content-question">
								<pre class="timeline-pre" th:id="question__${status.index}__" th:text="${qacForm.question.question}"></pre>
								</div>

								<div class="content">
									<button class="js-modal-open btn btn-sm btn-outline-info float-right" href="" th:attr="data-target='js-modal__${status.index}__'">回答</button>
								</div>
								<div class="modal js-modal" th:attr="id='js-modal__${status.index}__'" role="dialog">
									<div class="modal__bg js-modal-close"></div>
									<div class="modal-dialog modal-dialog-scrollable modal-lg">
										<div class="modal__content modal-content">
											<div class="modal-header">
												<span class="modal-title">
													<span class="font-weight-bold font-medium" th:text="${qacForm.account.name}|"></span>
													<span class="font-small" th:text="${#dates.format(qacForm.question.updatedDate, 'M/dd HH:mm')}|"></span>
												</span>
												<a class="js-modal-close" href="">&times;</a>
											</div>
											<div class="modal-body">
												<pre th:id="answer__${status.index}__" th:text="${qacForm.question.answer}"></pre>
											</div>
											<div class="modal-footer">
												<a class="js-modal-close btn btn-outline-secondary btn-sm" href="">Close</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div th:fragment='paginationbar' class="paginationbar">
						<ul class="pagination justify-content-center">
							<li th:class="${page.first} ? 'disabled':''"
								style="display: inline" class="page-item">
								<span th:if="${page.first}" class="page-link text-secondary">←先頭</span>
								<th:block th:if='${categories}'>
									<a th:if="${not page.first}"
										th:href="@{/timeline?page=0__${categories}__}"
										class="page-link">←先頭</a>
								</th:block>
								<th:block th:unless='${categories}'>
									<a th:if="${not page.first}" th:href="@{/timeline?page=0}"
										class="page-link">←先頭</a>
								</th:block>
							</li>

							<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
								th:class="(${i}==${page.number}) ? 'active' : ''"
								style="display: inline" class="page-item">
									<span
									th:if='${i}==${page.number}' th:text='${i+1}'
									class="page-link text-secondary">1</span>
									<th:block th:if='${page.totalElements} != 0'>
										<th:block th:if='${categories}'>
											<a th:if='${i}!=${page.number}'
												th:href="@{/timeline?page=__${i}____${categories}__}">
												<span th:text='${i + 1}' class="page-link">1</span>
											</a>
										</th:block>
										<th:block th:unless='${categories}'>
											<a th:if='${i}!=${page.number}' th:href="@{${url}(page = ${i})}">
												<span th:text='${i + 1}' class="page-link">1</span>
											</a>
										</th:block>
									</th:block>
								</li>

								<li th:class="${page.last} ? 'disabled':''" style="display: inline"
									class="page-item">
									<span th:if="${page.last}" class="page-link text-secondary">末尾→</span>
									<th:block th:if='${categories}'>
										<a th:if="${not page.last}"
											th:href="@{/timeline?page=__${page.totalPages}-1____${categories}__}"
											class="page-link">末尾→</a>
									</th:block>
									<th:block th:unless='${categories}'>
										<a th:if="${not page.last}"
											th:href="@{/question?page=__${page.totalPages}-1}"
											class="page-link">末尾→</a>
									</th:block>
								</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var qacFormListCount = /*[[${qacFormList.size()}]]*/
		/*]]>*/

		marked.setOptions({
			langPrefix: "hljs language-",
		    highlight: function(code, lang) {
		      return hljs.highlightAuto(code, [lang]).value
		    }
		  });

		for (let i = 0; i < this.qacFormListCount; i++) {
			document.getElementById('question' + i).innerHTML =	marked(document.getElementById('question' + i).innerHTML);
			document.getElementById('answer' + i).innerHTML =	marked(document.getElementById('answer' + i).innerHTML);
 		}

		var vm = new Vue({
			el : "#app",
			data : {
				toggles : [],
			},
			methods : {
				clickHandler: function(event){
					var toggleId = event.path[0].id;
					if(this.toggles[toggleId]){
						this.toggles[toggleId] = false;
					}else{
						this.toggles[toggleId] = true;
					}
				}
			}
		});

		var key = '';
		for(let i = 0; i < this.qacFormListCount; i++){
			this.key = `toggle${i}`;
			Vue.set(vm.toggles, this.key, false);
		}
	</script>
</body>
</html>