<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8"></meta>
	<title>アカウント一覧表示 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid h-100">
		<div class="row">
			<div class="col-lg-8 col-md-11 mx-auto main">
				<div class="page-header">
					<h1>アカウント一覧表示</h1>
				</div>

	        	<div class="text-center" th:if="${success}" >
					<p class="text-info" th:text="${success}"></p>
				</div>
				<div class="text-center" th:if="${error}" >
					<p class="text-danger" th:text="${error}"></p>
				</div>

				<div class="m-3">
				<form th:action = "@{/admin/accounts}" th:method="get" class="form-inline my-2 my-lg-0 justify-content-end">
					<input type="search" name="searchLoginId" class="form-control mr-sm-2" th:value="${searchLoginId}" placeholder="ログインID">
					<button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fas fa-search"></i> 検索</button>
				</form>
				</div>

				<div class="pb-4" id="users-table">
					<table class="table table-hover table-striped">
						<thead>
								<tr class="thead">
										<th>ログインID</th>
										<th>ハンドルネーム</th>
										<th>メールアドレス</th>
										<th>権限</th>
										<th>LINE連携</th>
										<th>-</th>
								</tr>
						</thead>
						<tbody>
								<tr th:each="account : ${accountFormList}">
										<td th:text="${account.loginId}" data-label="ログインID"></td>
										<td th:text="${account.name}" data-label="ハンドルネーム"></td>
										<td th:text="${account.mail}" data-label="メールアドレス"></td>
										<td th:text="${account.roleName}" data-label="権限"></td>
										<th:block th:each="notify : ${notifyFormList}">
											<th:block  th:if="${account.uuid==notify.accountId}">
												<td th:text="${notify.notificationFlag.string}" data-label="LINE連携"></td>
											</th:block>
										</th:block>
										<td data-label="-"><a th:href="@{/admin/accounts/{uuid}/edit(uuid=${account.uuid})}">編集</a></td>
								</tr>
						</tbody>
				</table>
				</div>

				<div th:fragment='paginationbar' class="paginationbar">
					<ul class="pagination justify-content-center">
						<li th:class="${page.first} ? 'disabled':''"
							style="display: inline" class="page-item">
							<span th:if="${page.first}" class="page-link text-secondary">←先頭</span>
							<th:block th:if='${searchLoginId}'>
								<a th:if="${not page.first}"
								th:href="@{/admin/accounts?page=0&searchLoginId=__${searchLoginId}__}"
									class="page-link">←先頭</a>
							</th:block>
							<th:block th:unless='${searchLoginId}'>
								<a th:if="${not page.first}" th:href="@{/admin/accounts?page=0}"
									class="page-link">←先頭</a>
							</th:block>
						</li>

						<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
							th:class="(${i}==${page.number}) ? 'active' : ''"
							style="display: inline" class="page-item">
								<span
								th:if='${i}==${page.number}' th:text='${i+1}'
								class="page-link text-secondary">1</span>
								<th:block th:if='${page.totalElements} != 0'>
									<th:block th:if='${searchLoginId}'>
										<a th:if='${i}!=${page.number}'
										th:href="@{/admin/accounts?page=__${i}__&searchLoginId=__${searchLoginId}__}">
											<span th:text='${i + 1}' class="page-link">1</span>
										</a>
									</th:block>
									<th:block th:unless='${searchLoginId}'>
										<a th:if='${i}!=${page.number}' th:href="@{${url}(page = ${i})}">
											<span th:text='${i + 1}' class="page-link">1</span>
										</a>
									</th:block>
								</th:block>
							</li>

							<li th:class="${page.last} ? 'disabled':''" style="display: inline"
								class="page-item">
								<span th:if="${page.last}" class="page-link text-secondary">末尾→</span>
								<th:block th:if='${searchLoginId}'>
									<a th:if="${not page.last}"
									th:href="@{/admin/accounts?page=__${page.totalPages}-1__&searchLoginId=__${searchLoginId}__}"
										class="page-link">末尾→</a>
								</th:block>
								<th:block th:unless='${searchLoginId}'>
									<a th:if="${not page.last}"
										th:href="@{/admin/accounts?page=__${page.totalPages}-1}"
										class="page-link">末尾→</a>
								</th:block>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>