<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
	<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></link>
	<link href="/css/style.css" th:href="@{/css/sanitize.css}" rel="stylesheet" type="text/css"></link>
	<script src="/js/script.js" th:src="@{/js/script.js}"></script>
	<title>Error</title>
</head>
<body>
	<div class="container-fluid h-100">
	    <div class="row">
	        <div class="col-sm-6 mx-auto my-5 main text-center">
			    <h1 class="text-danger" th:text="${status}"></h1>
			    <h2 class="text-danger" th:text="${error}"></h2>
			    <p class="text-danger" th:text="${message}"></p>
			    <p class="text-danger">ログイン画面に戻ってください</p>
				<a th:href="@{/logout}">ログイン画面に戻る</a>
	    	</div>
    	</div>
    </div>
	<footer class="footer">
		<div class="container-fluid text-center">
			<p class="text-muted">&copy; 2020 CodeReminder</p>
		</div>
	</footer>
</body>
</html>