@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  position: relative;
  min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	font-family: "Meiryo", "メイリオ", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro","sans-serif";
	color: #464646;
}
pre {
	font-family: "Meiryo", "メイリオ", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro","sans-serif" !important;
	color: #464646;
	font-size: 1rem;
	/* CSS3 */
	white-space: pre-wrap;
	/* IE 5.5+ */
	word-wrap: break-word;
}
form {
	padding: 0;
	margin: 0;
}
select {
	border : 1px solid #eee;
	font-size : 1rem;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h1, h2, h3, h4, h5 {
	color: #575757;
}
th, td {
	color: #464646;
}
.table thead th {
	color: #464646;
}
.admin-content {
	padding: 10px;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 60px;
}
.page-header {
	text-align: center;
	margin: 5vh auto;
}
@media screen and (max-width: 480px) {
	html {
		font-size: 0.8rem;
	}
	body {
		margin-bottom: 80px;
	}
}
/* iPhone5/SE向け文字サイズ */
@media screen and (max-width: 320px) {
	html {
		font-size: 0.6rem;
	}
}

/* header
-------------------------------------------------- */
.nav-link {
	font-size: 0.9rem;
	color: #898989;
	transition: 0.5s ;
}
.link-color {
	color: #898989;
}
.dropdown-item {
	font-size: 0.9rem;
	color: #898989;
}
.dropdown-item:hover {
	color: #696969;
	background-color: #fff;
}
.nav-link:hover {
	color: #696969;
}
.nav-link.active    {
	color:#464646;
}
.dropdown-item.active {
	background-color: #fff;
}
.nav-item {
	margin: auto;
}
.home-content {
	min-height: 100%;
	width: 100%;
}
.dropdown-menu {
	margin: 0;
}
#header-title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: #575757;
}
@media screen and (max-width: 480px) {

	#floatingmenu {
		display: block;
		width: 100%;
		position: fixed;
		left: 0px;
		bottom: 0px;
		z-index: 9999;
		text-align: center;
		padding: 1px;
		height: 8%;
		background-color: #1D8FE1;
		line-height: 0.8rem;
	}
	.footer-nav-link {
		font-size: 0.5rem;
		color: #fff;
		text-align: center;
	}
	#footer-nav {
		height: 100%;
	}
}

/* footer
-------------------------------------------------- */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}
#footer-contents {
	margin-top: 20px;
	font-size: 0.8rem;
}
@media screen and (max-width: 480px) {
	.footer {
		bottom: 18px;
		width: 100%;
		height: 80px;
	}
}

/* class color,size
-------------------------------------------------- */
.my-skyblue {
	color: #007bff;
}
.my-blue {
	color: #778899;
}
.my-yellow {
	color: #FFD301;
}
.my-blue {
	color: #4362F2;
}
.my-big {
 	font-size: 1.5em
}
.my-small {
	font-size: 0.8rem;
}
.my-gray {
	color: #808080;
}
/* -- タイトルやホームに使っている濃いの黒 -- */
.my-black {
	color: #343a40;
}
/* -- テキストに使用している薄い黒(ベースカラー) -- */
.fc-base {
	color: #464646;
}
.font-small {
	font-size: 0.9rem;
}
.font-mini {
	font-size: 0.8rem;
}
.font-bg {
	font-size: 1.2rem;
}
.font-md {
	font-size: 1.1rem;
}
.icon-bigsize {
	font-size: 5rem;
}
.round-btn {
	border-radius: 100px;
}

 /* layout/question page
-------------------------------------------------- */
.card-footer {
	font-size: 0.9rem;
}
.flexbox-contents {
	margin-bottom: 30px;
  display: flex;
  /* 画面幅に収まらない場合は折り返す */
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.collapse{
	position: relative;
	width: 100%;
	min-height: 30px;
	margin-bottom: 10px;
}
#category-search-wrapper {
	min-height: 30px;
	width: 100%;
}
#question-card {
	margin-top: 20px;
}
#category-search-btn {
	position: absolute;
	bottom: 0;
	right: 0;
}
/* form textarea */
.textarea-wrap{
	position: relative;
	height: 500px;
}
.textarea-wrap textarea{
	width:100%;
	top: 0; left: 0; right: 0; bottom: 0;
	margin:0;
	position: absolute;
}
.question-td {
	width: 45%;
	word-wrap: normal;
}
#remove-question {
	clear: both;
}
p {
overflow-wrap: break-word;
word-wrap: break-word;
}
.preview-td {
	overflow: auto;
}
@media screen and (max-width: 480px) {
  #insertQuestionForm > .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  #insertQuestionForm {
    width: 100%;
  }
  #insertQuestionForm th,#insertQuestionForm td {
		border-bottom: none;
    display: block;
    width: 100%;
	}
	#insertQuestionForm td {
	height: 100px;
	overflow-x:scroll;
	}
}

::placeholder{
  color: rgb(220,220,220);
}

/* layout /category page
-------------------------------------------------- */
#check-tr {
	width: 20%;
}
#category-tr {
	width: 80%;
}
.td-center {
	text-align: center;
	vertical-align: middle !important;
}
label {
	margin-bottom: 0;
}
.edit-category-td >input[type=checkbox] {
  transform: scale(1.3);
}
#check-tr,
#category-tr {
	text-align: center;
}
@media screen and (max-width: 480px) {
	#check-tr {
		width: 30%;
	}
	#category-tr {
		width: 70%;
	}
	#category-search-input {
		width: 200px;
	}
}

/* layout /admin page
-------------------------------------------------- */

@media screen and (max-width: 480px) {
  #users-table {
    width: 100%;
  }
  #users-table .thead {
    display: none;
  }
  #users-table tr {
    width: 100%;
  }
  #users-table td {
    display: block;
    text-align: right;
    width: 100%;
  }
  #users-table td:first-child {
    background: #b0c4de;
    color: #fff;
    font-weight: bold;
  }
  #users-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

/* layout review page
-------------------------------------------------- */
#review-question-card > .card-header {
	background-color: rgba(40, 72, 216, 0.4);
}
#review-answer-card > .card-header {
	background-color: rgba(216, 198, 40, 0.5);
}
#card-new {
	background-color: rgba(40, 72, 216, 0.4);
}
#card-remind {
	background-color: rgba(216, 198, 40, 0.5);
}
.card-item {
	width: 48%;
	text-align: center;
	vertical-align: middle;
}
/* layout welcome page
-------------------------------------------------- */
#top-content {
	background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
	width: 100%;
	height: 100%;
}
#main-page-row {
	height: 80vh;
}
#left-contents {
	padding: 3rem;
}

#home-main-content {
	min-height: 100%;
}
#main-bottom-content {
	background-color: #ffffff;
	text-align: center;
}
.explanation-box {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2rem;
}
@media screen and (max-width: 480px) {
	#main-bottom-content {
		text-align: center;
	}
	#main-page-row {
		height: 40vh;
	}
	.explanation-box {
		margin-right:  auto;
		margin-left: auto;
		width: 75%;
		margin-bottom: 1rem;
		display: block;
		text-align: center !important;
	}
	.explanation-box > pre {
		text-align: center !important;
	}
	#bottom-icon {
		font-size: 4rem;
	}
	#left-contents {
		padding: 1rem;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	#main-page-row {
		height: 50vh;
	}
	.top-icon {
		width: auto;
		height: 80%;
	}
	.explanation-box {
		margin-right:  auto;
		margin-left: auto;
		width: 75%;
		margin-bottom: 1rem;
		display: block;
		text-align: center !important;
	}
	.explanation-box > pre {
		text-align: center !important;
	}
	.media-btn {
		font-size: 0.8rem;
	}
}

/* layout timeline page
-------------------------------------------------- */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 50, .5);
	border-radius: 10px;
	box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
#content-question{
	height: 120px;
	overflow: auto;
	margin-bottom: 10px;
	-webkit-overflow-scrolling: touch;
}
.timeline-pre{
width:100%;
}
.modal {
	margin-top: 3%;
	max-height: 80%;
}
@media screen and (max-width: 480px) {
	#search-input-area {
		width: 100px;
	}
	.modal {
		margin-top: 20%;
		max-height: 60%;
	}
}

/* layout login page
---------------------------	----------------------- */
#login-check {
	transform: scale(1.1);
}
/* layout signup page
---------------------------	----------------------- */
.signup-form >label {
	text-align: right;
}
.sign-card >::placeholder {
	color: #a9a9a9;
  font-size: 0.9em;
}
.input-group-text {
	background-color: #fff;
	color: #808080;
}
.error-m {
	font-size: 0.8rem;
}
@media screen and (max-width: 480px) {
	.signup-form >label {
		text-align: left;
		margin-left: 5px;
	}
}
/* pagenation
---------------------------	----------------------- */
.paginationbar {
	margin-top: 60px;
	clear: both;
}
/* delete dialog
---------------------------	----------------------- */
.swal-modal {
	width: 30%;
}
.swal-icon {
	margin: 0 auto;
}