<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8" />
    <title>マイページ編集 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-lg-4 col-md-9 mx-auto main">
				<div class="page-header">
					<h1>マイページ編集</h1>
				</div>

				<form th:method="post" th:action="@{/accounts/mypage/edit}" th:object="${accountForm}" class="submit-form">
					<div class="card mb-5 shadow">
						<div class="card-body px-0 py-10">

							<div class="text-center">
								<i class="fas fa-user-circle icon-bigsize my-gray"></i>
							</div>

							<div class="form-group m-3"  th:classappend="${#fields.hasErrors('loginId')}?'has-error'">
									<label for="loginId" class="px-0 my-gray">ログインID</label>
									<input type="hidden" class="form-control" th:field="*{uuid}"/>
									<input type="text" class="form-control" th:field="*{loginId}" th:classappend="${#fields.hasErrors('loginId')} ? 'is-invalid'"/>
									<span class="text-danger" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">loginIdNameerror</span>
							</div>

							<div class="form-group m-3" th:classappend="${#fields.hasErrors('password')}?'has-error'">
								<label for="password" class="px-0 my-gray">パスワード</label>
								<input type="password" class="form-control" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
								<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">passworderror</span>
							</div>

							<div class="form-group m-3" th:classappend="${#fields.hasErrors('confirmPassword')}?'has-error'">
								<label for="cofirmpass" class="px-0 my-gray">確認用パスワード</label>
								<input type="password" class="form-control" th:field="*{confirmPassword}" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"/>
								<span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassworderror</span>
							</div>

							<div class="form-group m-3" th:classappend="${#fields.hasErrors('mail')}?'has-error'">
								<label for="mail" class="px-0 my-gray">メールアドレス</label>
								<input type="text" class="form-control" th:field="*{mail}" th:classappend="${#fields.hasErrors('mail')} ? 'is-invalid'"/>
								<span class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">mailerror</span>
							</div>

							<div class="form-group m-3" th:classappend="${#fields.hasErrors('confirmMail')}?'has-error'">
								<label for="confirmmail" class="px-0 my-gray">確認用メールアドレス</label>
								<input type="text" class="form-control" th:field="*{confirmMail}" th:classappend="${#fields.hasErrors('confirmMail')} ? 'is-invalid'"/>
								<span class="text-danger" th:if="${#fields.hasErrors('confirmMail')}" th:errors="*{confirmMail}">confirmMailerror</span>
							</div>

							<div class="form-group m-3" th:classappend="${#fields.hasErrors('name')}?'has-error'">
								<label for="name" class="px-0 my-gray">ハンドルネーム</label>
								<input type="text" class="form-control" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"/>
								<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">nameerror</span>
							</div>
							<div class="text-center mt-4">
								<button class="btn btn-primary px-4" type="submit">編集</button>
							</div>
						</div>
					</div>
				</form>

				<div id="edit-account-app">
					<form class="submit-form-sub" th:method="post" th:action="@{/accounts/mypage/updateNotify}" th:object="${notifyForm}">

						<div class="card mb-5 shadow">
							<div class="card-body px-0 py-10">
								<div class="text-center">
									<h5 class="font-weight-bold ">
										LINE連携
										<el-popover
										placement="top"
										width="250"
										v-model="visible">
										<div style="margin: 3">
											<p class="font-bg">LINE連携とは</p>
											<p>LINEトークンを登録することで、
												設定した時刻に本日の学習状況がLINE通知で送られてくるようになります。
											</p>
											<a th:href="@{/line-description}">詳しい設定方法はこちら</a>
										</div>
										<el-button type="text" slot="reference">
											<i class="far fa-question-circle my-yellow font-md ml-1"></i>
										</el-button>
									</el-popover>
									</h5>
								</div>

								<div class="form-group m-3"  th:classappend="${#fields.hasErrors('token')}?'has-error'">
									<label for="name" class="px-0 my-gray">LINEトークン</label>
										<input type="hidden" class="form-control" th:field="*{accountId}"/>
										<input type="text" class="form-control" th:field="*{token}" th:classappend="${#fields.hasErrors('token')} ? 'is-invalid'"/>
										<span class="text-danger" th:if="${#fields.hasErrors('token')}" th:errors="*{token}">tokenerror</span>
									</div>

									<div class="form-group m-3">
										<label for="name" class="px-0 my-gray">通知設定</label>
										<th:block th:each="notify , status : ${notificationRadio}" class="flexbox-contents td-center" th:classappend="${#fields.hasErrors('notificationFlag')}?'has-error'">
											<input class="ml-2" type="radio" th:value="${notify.value}" th:field="*{notificationFlag}"  th:classappend="${#fields.hasErrors('notificationFlag')} ? 'is-invalid'" />
											<label th:for="${#ids.prev('notificationFlag')}" th:text="${notify.value.string}" ></label>
											<span class="text-danger" th:if="${#fields.hasErrors('notificationFlag') && status.index==1}" th:errors="*{notificationFlag}">tokenerror</span>
										</th:block>
									</div>

									<div class="form-group m-3"  th:classappend="${#fields.hasErrors('notificationTime')}?'has-error'">
										<label for="name" class="px-0 my-gray mr-2">通知時刻</label>
										<select th:field="*{notificationTime}"  th:classappend="${#fields.hasErrors('notificationTime')} ? 'is-invalid'">
    										<option th:each="time :${selectTimeList}" th:value="${time}" th:text="${time + ':00'}"  ></option>
										</select>
										<span class="text-danger" th:if="${#fields.hasErrors('notificationTime')}" th:errors="*{notificationTime}">notificationtimeerror</span>
									</div>
									<div class="text-center mt-4">
										<button class="btn btn-primary px-4" type="submit">編集</button>
									</div>
							</div>
						</div>
					</form>
				</div>
				<br>
				<a th:href="@{/accounts/mypage}" class="mb-5 float-right">マイページへ戻る</a>
			</div>
		</div>
	</div>
	<script>
		new Vue({
			el: '#edit-account-app',
			data: function() {
				return {
					visible: false
				}
			}
		})
	</script>
</body>
</html>