<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8" />
	<title>アカウント新規登録 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
	    <div class="row">
	        <div class="col-xl-5 col-md-9 mx-auto main">
				<div class="page-header">
					<h1><i class="fas fa-check-circle fa-2x my-skyblue"></i></h1>
					<h5>アカウントの新規登録</h5>
					<p>CodeReminderのご利用には、アカウントの登録が必要です。</p>
					<a th:href="@{/login}">ログイン画面はこちら</a>
				</div>
				<form th:action = "@{/signup}" th:method="post" th:object="${accountForm}">

					<div class="card mb-5 shadow">
						<div class="card-body px-0 py-10 m-4">
							<div class="form-group mb-3 signup-form"  th:classappend="${#fields.hasErrors('loginId')}?'has-error'">
									<label for="loginId" class="px-0">ログインID</label>
									<div class="sign-card">
										<input type="text" placeholder="半角英数字6文字以上20文字以下" id="loginId" class="form-control" th:field="*{loginId}" th:classappend="${#fields.hasErrors('loginId')} ? 'is-invalid'"/>
										<span class="text-danger error-m" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">accountNameerror</span>
									</div>
							</div>

							<div class="form-group mb-3 signup-form" th:classappend="${#fields.hasErrors('password')}?'has-error'">
								<label for="password" class="px-0">パスワード</label>
								<div class="sign-card">
									<input type="password" placeholder="半角英数字6文字以上20文字以下" id="password" class="form-control" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
									<span class="text-danger error-m" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">passworderror</span>
								</div>
							</div>

							<div class="form-group mb-3 signup-form" th:classappend="${#fields.hasErrors('confirmPassword')}?'has-error'">
								<label for="cofirmpass" class="px-0">確認用パスワード</label>
								<div class="sign-card">
									<input type="password" placeholder="確認用パスワード" id="confirmpass" class="form-control" th:field="*{confirmPassword}" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"/>
									<span class="text-danger error-m" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassworderror</span>
								</div>
							</div>

							<div class="form-group mb-3 signup-form" th:classappend="${#fields.hasErrors('mail')}?'has-error'">
								<label for="mail" class="px-0">メールアドレス</label>
								<div class="sign-card">
									<input type="text" placeholder="example@code.jp" id="mail" class="form-control" th:field="*{mail}" th:classappend="${#fields.hasErrors('mail')} ? 'is-invalid'"/>
									<span class="text-danger error-m" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">mailerror</span>
								</div>
							</div>

							<div class="form-group mb-3 signup-form" th:classappend="${#fields.hasErrors('confirmMail')}?'has-error'">
								<label for="confirmmail" class="px-0">確認用メールアドレス</label>
								<div class="sign-card">
									<input type="text" placeholder="example@code.jp" id="confirmmail" class="form-control" th:field="*{confirmMail}" th:classappend="${#fields.hasErrors('confirmMail')} ? 'is-invalid'"/>
									<span class="text-danger error-m" th:if="${#fields.hasErrors('confirmMail')}" th:errors="*{confirmMail}">confirmMailerror</span>
								</div>
							</div>

							<div class="form-group mb-3 signup-form" th:classappend="${#fields.hasErrors('name')}?'has-error'">
								<label for="name" class="px-0">ハンドルネーム</label>
								<div class="sign-card">
									<input type="text" placeholder="1文字以上50文字以下" id="name" class="form-control" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"/>
									<span class="text-danger error-m" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">nameerror</span>
								</div>
							</div>
							<div class="text-center mt-4">
								<button class="btn btn-primary float-center mt-1 w-1" type="submit">アカウント登録</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>