<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8" />
    <title>マイページ | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
	    <div class="row">
	        <div class="col-lg-4 col-md-8 mx-auto main">
				<div class="page-header">
					<h1>マイページ</h1>
				</div>

	        	<th:block th:if="${success}">
					<p class="text-info" th:text="${success}"></p>
				</th:block>
				<th:block th:if="${error}">
					<p class="text-danger" th:text="${error}"></p>
				</th:block>

				<div class="card mb-5 shadow">
				  <div class="card-body px-0 py-10">
						<form method="post" th:object="${accountForm}">

							<div class="text-center">
								<i class="fas fa-user-circle icon-bigsize my-gray"></i>
							</div>

							<div class="form-group m-3">
								<label for="loginId" class="px-0 my-gray">ログインID</label>
								<input type="text" class="form-control" th:field="*{loginId}" readonly="readonly"/>
								<input type="hidden" class="form-control" th:field="*{uuid}"/>
							</div>

							<div class="form-group m-3">
								<label for="loginId" class="px-0 my-gray">メールアドレス</label>
								<input type="text" class="form-control" th:field="*{mail}" readonly="readonly">
							</div>

							<div class="form-group m-3">
								<label for="loginId" class="px-0 my-gray">ハンドルネーム</label>
								<input type="text" class="form-control" th:field="*{name}" readonly="readonly">
							</div>

							<div class="form-group m-3">
								<label for="loginId" class="px-0 my-gray mr-3">LINE連携</label>
								<span th:text="${notifyForm.notificationFlag.string}"></span>
							</div>
						</form>
					</div>
				</div>
				<a th:href="@{/accounts/mypage/edit}" class="float-right mb-3">編集する</a>
			</div>
		</div>
	</div>
</body>
</html>