<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>カテゴリ編集 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-8 mx-auto main">
				<div class="page-header">
					<h1>カテゴリ編集</h1>
				</div>

		      	<th:block th:if="${success}">
					<p class="text-info" th:text="${success}"></p>
				</th:block>
				<th:block th:if="${error}">
					<p class="text-danger" th:text="${error}"></p>
				</th:block>

				<div class="insert-body">
					<p class="font-mini">カテゴリを追加する場合は入力後、登録ボタンを押してください。</p>
					<form method="post" th:action = "@{/categories/edit}" th:object="${categoryForm}">
						<div class="form-inline" th:classappend="${#fields.hasErrors('name')}?'has-error'">
							<span>カテゴリ名：</span>
							<input type="text" class="form-control mr-2" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" id="category-search-input" />
							<button class="btn btn-primary search-button w-10 " id="create" name="create" type="submit">登録</button>
							<span class="text-danger mt-1" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">categoryerror</span>
						</div>
					</form>
					<br>
				</div>

				<form method="post" th:action="@{/categories/edit}" th:object="${categoryForms}" class="mb-2">
					<table class="table table-bordered table-hover table-striped shadow" id="edit-category-table">
						<tr>
							<th class="table-info col-sm" id="check-tr"><i class="fas fa-check"></i></th>
							<th class="table-info col-sm" id="category-tr">カテゴリ名</th>
						</tr>

						<tr th:each="category, stat : *{categoryForm}">
							<td class="td-center edit-category-td">
								<input type="checkbox" name="deleteNum" th:value="*{categoryForm[__${stat.index}__].id}">
							</td>
							<td>
								<th:block class="td-center" th:classappend="${#fields.hasErrors('categoryForm[__${stat.index}__].name')}?'has-error'">
									<input type="text" class="form-control"	th:field="*{categoryForm[__${stat.index}__].name}" />
									<input type="hidden" class="form-control"	th:field="*{categoryForm[__${stat.index}__].id}" />
									<span class="text-danger" th:if="${#fields.hasErrors('categoryForm[__${stat.index}__].name')}"
										  th:errors="*{categoryForm[__${stat.index}__].name}">categoryerror</span>
								</th:block>
							</td>
						 </tr>
					</table>

					<button class="btn btn-primary px-4 float-right" id="update" type="submit" name="update">更新</button>
					<button class="btn btn-danger px-4" id="delete" type="button" name="delete">削除</button>
				</form>

				<div class="float-right mt-2">
					<a th:href="@{/categories}">カテゴリ一覧へ戻る</a>
				</div>

				<div th:fragment='paginationbar' class="paginationbar">
					<ul class="pagination justify-content-center">
						<li th:class="${page.first} ? 'disabled':''" style="display:inline"	class="page-item">
		                    <span th:if="${page.first}" class="page-link text-secondary">←先頭</span>
		                    <a th:if="${not page.first}" th:href="@{${url}(page=0)}" class="page-link">←先頭</a>
		                </li>

	                   <th:block th:if='${page.totalElements} != 0'>
			                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number}) ? 'active' : ''"
			                	style="display:inline" class="page-item">
			                    <span th:if='${i}==${page.number}' th:text='${i+1}' class="page-link text-secondary">1</span>
			                    <a th:if='${i}!=${page.number}' th:href="@{${url}(page=${i})}">
			                        <span th:text='${i+1}' class="page-link">1</span>
			                    </a>
			                </li>
		                </th:block>

		               	<th:block th:if='${page.totalElements} == 0'>
			                <li style="display:inline" class="page-item">
			                    <span class="page-link text-secondary">1</span>
			                </li>
		                </th:block>

		                <li th:class="${page.last} ? 'disabled':''" style="display:inline" class="page-item">
		                    <span th:if="${page.last}" class="page-link text-secondary">末尾➝</span>
		                    <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}" class="page-link">末尾➝</a>
		                </li>
		            </ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
