<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8"></meta>
	<title>カテゴリ一覧 | CodeReminder</title>
</head>
<body>
	<div class="container-fluid h-100">
	    <div class="row">
	        <div class="col-lg-4 col-md-7 mx-auto main">
				<div class="page-header">
					<h1>カテゴリ一覧</h1>
				</div>

				<div class="m-3">
					<form th:action = "@{/categories}" th:method="get" class="form-inline my-2 my-lg-0 justify-content-end">
						<input type="search" name="searchCategoryName" class="form-control mr-sm-2" th:value="${searchCategoryName}" placeholder="カテゴリー名">
						<button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fas fa-search"></i> 検索</button>
					</form>
				</div>

				<table class="table table-bordered table-striped shadow">
					<tr th:each="category, stat : *{categoryFormList}">
						<td th:text="${category.name}|"></td>
					</tr>
				</table>

				<div><a th:href="@{/categories/edit}" class="float-right">編集する</a></div>

				<div th:fragment='paginationbar' class="paginationbar">
		            <ul class="pagination justify-content-center">
		                <li th:class="${page.first} ? 'disabled':''" style="display:inline" class="page-item">
		                    <span th:if="${page.first}" class="page-link text-secondary">←先頭</span>
		                   	<th:block th:if='${searchCategoryName}'>
			                    <a th:if="${not page.first}" th:href="@{/categories?page=0&searchCategoryName=__${searchCategoryName}__}" class="page-link">←先頭</a>
		                    </th:block>
		                    <th:block th:unless='${searchCategoryName}'>
			                    <a th:if="${not page.first}" th:href="@{/categories?page=0}" class="page-link">←先頭</a>
		                    </th:block>
		                </li>
		                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
		                	th:class="(${i}==${page.number}) ? 'active' : ''" style="display:inline" class="page-item">
		                    <span th:if='${i}==${page.number}' th:text='${i+1}' class="page-link text-secondary">1</span>
		                   <th:block th:if='${page.totalElements} != 0'>
			                   	<th:block th:if='${searchCategoryName}'>
				                    <a th:if='${i}!=${page.number}' th:href="@{/categories?page=__${i}__&searchCategoryName=__${searchCategoryName}__}">
				                        <span th:text='${i + 1}' class="page-link">1</span>
				                    </a>
			                    </th:block>
				    	        <th:block th:unless='${searchCategoryName}'>
				                    <a th:if='${i}!=${page.number}' th:href="@{${url}(page = ${i})}">
				                        <span th:text='${i + 1}' class="page-link">1</span>
				                    </a>
			                    </th:block>
			            	</th:block>
		                </li>
		                <li th:class="${page.last} ? 'disabled':''" style="display:inline" class="page-item">
		                    <span th:if="${page.last}" class="page-link text-secondary">末尾➝</span>
	                    	<th:block th:if='${searchCategoryName}'>
   			                    <a th:if="${not page.last}" th:href="@{/categories?page=__${page.totalPages}-1__&searchCategoryName=__${searchCategoryName}__}" class="page-link">末尾➝</a>
		                    </th:block>
			    	        <th:block th:unless='${searchCategoryName}'>
   			                    <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}" class="page-link">末尾➝</a>
		                    </th:block>
		                </li>
		            </ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>